=begin
#PocketSmith

#The PocketSmith API

The version of the OpenAPI document: 2.0
Contact: api@pocketsmith.com
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module PocketsmithClient
  class InstitutionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete institution
    # Deletes an institution and all data within. Alternatively, another institution can be provided to merge the data into to avoid losing it.
    # @param id [Integer] The unique identifier of the institution.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :merge_into_institution_id The unique identifier of the institution to merge into.
    # @return [nil]
    def institutions_id_delete(id, opts = {})
      institutions_id_delete_with_http_info(id, opts)
      nil
    end

    # Delete institution
    # Deletes an institution and all data within. Alternatively, another institution can be provided to merge the data into to avoid losing it.
    # @param id [Integer] The unique identifier of the institution.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :merge_into_institution_id The unique identifier of the institution to merge into.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def institutions_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstitutionsApi.institutions_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstitutionsApi.institutions_id_delete"
      end
      # resource path
      local_var_path = '/institutions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'merge_into_institution_id'] = opts[:'merge_into_institution_id'] if !opts[:'merge_into_institution_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['developerKey']

      new_options = opts.merge(
        :operation => :"InstitutionsApi.institutions_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstitutionsApi#institutions_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get institution
    # Gets an institution by its ID.
    # @param id [Integer] The unique identifier of the institution.
    # @param [Hash] opts the optional parameters
    # @return [Institution]
    def institutions_id_get(id, opts = {})
      data, _status_code, _headers = institutions_id_get_with_http_info(id, opts)
      data
    end

    # Get institution
    # Gets an institution by its ID.
    # @param id [Integer] The unique identifier of the institution.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Institution, Integer, Hash)>] Institution data, response status code and response headers
    def institutions_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstitutionsApi.institutions_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstitutionsApi.institutions_id_get"
      end
      # resource path
      local_var_path = '/institutions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Institution'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['developerKey']

      new_options = opts.merge(
        :operation => :"InstitutionsApi.institutions_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstitutionsApi#institutions_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update institution
    # Updates the title and currency code for an institution.
    # @param id [Integer] The unique identifier of the institution.
    # @param [Hash] opts the optional parameters
    # @option opts [InstitutionsIdPutRequest] :institutions_id_put_request 
    # @return [Institution]
    def institutions_id_put(id, opts = {})
      data, _status_code, _headers = institutions_id_put_with_http_info(id, opts)
      data
    end

    # Update institution
    # Updates the title and currency code for an institution.
    # @param id [Integer] The unique identifier of the institution.
    # @param [Hash] opts the optional parameters
    # @option opts [InstitutionsIdPutRequest] :institutions_id_put_request 
    # @return [Array<(Institution, Integer, Hash)>] Institution data, response status code and response headers
    def institutions_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstitutionsApi.institutions_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstitutionsApi.institutions_id_put"
      end
      # resource path
      local_var_path = '/institutions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'institutions_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Institution'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['developerKey']

      new_options = opts.merge(
        :operation => :"InstitutionsApi.institutions_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstitutionsApi#institutions_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List institutions in user
    # Lists all the institutions belonging to the user.
    # @param id [Integer] The unique identifier of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<Institution>]
    def users_id_institutions_get(id, opts = {})
      data, _status_code, _headers = users_id_institutions_get_with_http_info(id, opts)
      data
    end

    # List institutions in user
    # Lists all the institutions belonging to the user.
    # @param id [Integer] The unique identifier of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Institution>, Integer, Hash)>] Array<Institution> data, response status code and response headers
    def users_id_institutions_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstitutionsApi.users_id_institutions_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstitutionsApi.users_id_institutions_get"
      end
      # resource path
      local_var_path = '/users/{id}/institutions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Institution>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['developerKey']

      new_options = opts.merge(
        :operation => :"InstitutionsApi.users_id_institutions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstitutionsApi#users_id_institutions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create institution in user
    # Creates an institution belonging to a user.
    # @param id [Integer] The unique identifier of the user
    # @param [Hash] opts the optional parameters
    # @option opts [UsersIdInstitutionsPostRequest] :users_id_institutions_post_request 
    # @return [Institution]
    def users_id_institutions_post(id, opts = {})
      data, _status_code, _headers = users_id_institutions_post_with_http_info(id, opts)
      data
    end

    # Create institution in user
    # Creates an institution belonging to a user.
    # @param id [Integer] The unique identifier of the user
    # @param [Hash] opts the optional parameters
    # @option opts [UsersIdInstitutionsPostRequest] :users_id_institutions_post_request 
    # @return [Array<(Institution, Integer, Hash)>] Institution data, response status code and response headers
    def users_id_institutions_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstitutionsApi.users_id_institutions_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstitutionsApi.users_id_institutions_post"
      end
      # resource path
      local_var_path = '/users/{id}/institutions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'users_id_institutions_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Institution'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['developerKey']

      new_options = opts.merge(
        :operation => :"InstitutionsApi.users_id_institutions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstitutionsApi#users_id_institutions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
