=begin
#PocketSmith

#The PocketSmith API

The version of the OpenAPI document: 2.0
Contact: api@pocketsmith.com
Generated by: https://openapi-generator.tech
Generator version: 7.12.0

=end

require 'cgi'

module PocketsmithRubyClient
  class TransactionAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get transaction account
    # Gets a transaction account by its ID.
    # @param id [Integer] The unique identifier of the transaction account.
    # @param [Hash] opts the optional parameters
    # @return [TransactionAccount]
    def transaction_accounts_id_get(id, opts = {})
      data, _status_code, _headers = transaction_accounts_id_get_with_http_info(id, opts)
      data
    end

    # Get transaction account
    # Gets a transaction account by its ID.
    # @param id [Integer] The unique identifier of the transaction account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionAccount, Integer, Hash)>] TransactionAccount data, response status code and response headers
    def transaction_accounts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionAccountsApi.transaction_accounts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransactionAccountsApi.transaction_accounts_id_get"
      end
      # resource path
      local_var_path = '/transaction_accounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['developerKey']

      new_options = opts.merge(
        :operation => :"TransactionAccountsApi.transaction_accounts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionAccountsApi#transaction_accounts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update transaction account
    # Updates the transaction account by its ID.
    # @param id [Integer] The unique identifier of the transaction account.
    # @param [Hash] opts the optional parameters
    # @option opts [TransactionAccountsIdPutRequest] :transaction_accounts_id_put_request 
    # @return [TransactionAccount]
    def transaction_accounts_id_put(id, opts = {})
      data, _status_code, _headers = transaction_accounts_id_put_with_http_info(id, opts)
      data
    end

    # Update transaction account
    # Updates the transaction account by its ID.
    # @param id [Integer] The unique identifier of the transaction account.
    # @param [Hash] opts the optional parameters
    # @option opts [TransactionAccountsIdPutRequest] :transaction_accounts_id_put_request 
    # @return [Array<(TransactionAccount, Integer, Hash)>] TransactionAccount data, response status code and response headers
    def transaction_accounts_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionAccountsApi.transaction_accounts_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransactionAccountsApi.transaction_accounts_id_put"
      end
      # resource path
      local_var_path = '/transaction_accounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'transaction_accounts_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['developerKey']

      new_options = opts.merge(
        :operation => :"TransactionAccountsApi.transaction_accounts_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionAccountsApi#transaction_accounts_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List transaction accounts in user
    # List all transaction accounts belonging to a user.
    # @param id [Integer] The unique identifier of the user.
    # @param [Hash] opts the optional parameters
    # @return [Array<TransactionAccount>]
    def users_id_transaction_accounts_get(id, opts = {})
      data, _status_code, _headers = users_id_transaction_accounts_get_with_http_info(id, opts)
      data
    end

    # List transaction accounts in user
    # List all transaction accounts belonging to a user.
    # @param id [Integer] The unique identifier of the user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TransactionAccount>, Integer, Hash)>] Array<TransactionAccount> data, response status code and response headers
    def users_id_transaction_accounts_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionAccountsApi.users_id_transaction_accounts_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransactionAccountsApi.users_id_transaction_accounts_get"
      end
      # resource path
      local_var_path = '/users/{id}/transaction_accounts'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TransactionAccount>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['developerKey']

      new_options = opts.merge(
        :operation => :"TransactionAccountsApi.users_id_transaction_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionAccountsApi#users_id_transaction_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
